.login{
    width: 30vw;
    padding: 80px 20px;
    background-color: #fff;
    border-radius: 20px;
    background-color: #3A405A;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &>*{
        color: #fff;
    }
}