*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* font-size: 62.5%; */
}

body{
  line-height: 1.6;
  font-family: 'Roboto', Courier, monospace;
  font-weight: 300;
}